.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
    margin-left: 20px;
}
.navbar {
	width: 100%;
	height: 70px;
	background-color: #27285C;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  

  
  .navbar li {
    display: inline-block;
    margin-right: 20px;

  }
  
  .navbar li:last-child {
    margin-right: 0;
  }
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  

