body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  color: #333;
  font: 100% / normal sans-serif;
  background-color: #ececec;
}
.submit-button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  background-color: red;

  /* usual styles */
  padding: 5px;
  border: none;
  background-color: #27285c;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 30%;
  margin-left: 10px;
  background-color: #007aff;
}

.form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: #27285c;
  color: white;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.pagination-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 1rem;
}

.pagination {
  display: flex;
  gap: 0.5rem;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd; /* Gray */
  margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
  font-size: 22px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.description {
  grid-column: span 2;
}

.card {
  padding: 10px;
  min-width: 100px;
  width: 100%;
  height: 100%;
  display: grid;
  transition: all ease 0.4s;
}

.card .title {
  color: rgb(6, 6, 94);
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card .category {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #0009;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 0.5rem;
  padding: 1rem;
}
.card .description {
  color: #000;
  font-size: 12px;
}
.newButton {
  background-color: #27285c;
  color: white;
  margin: 10px;
  border: none;
  outline: none;
  padding: 12px 0;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.newButton:hover {
  background-color: #555;
}

.projectButton {
  width: 50%;
  outline: none;
  border: none;
  text-decoration: none;
  padding: 2px 1px 0;
  background-color: gray;
}

.projectButton:hover {
  background-color: #007aff;
}
.pLink {
  text-decoration: none;
}

.pLink:hover {
  text-decoration: none;
}

.pLink:hover .card {
  background-color: #007bff15;
}
.search-container {
  margin-bottom: 1rem;
}

.search-container input {
  padding: 0.5rem;
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 20px;
}
